<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>petalsByLg</title>
</head>
<body>
    <div class="container">
        <div class="title">PetalsByLG</div>
        <form action="#">
            <div class="order-details">
                <div class="input-box">
                    <label for="details">Full Name</label>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <label for="details">Email</label>
                    <input type="text" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <label for="details">Instagram Tag</label>
                    <input type="text" placeholder="Enter your Instagram Tag" required>
                </div>
                <div class="input-box">
                    <label for="details">Bouquet Selection</label>
                    <select name="bouquet_selection" id="bouquet_selection" required>
                        <option>25 rose bouquet:$65</option>
                        <option>50 rose bouquet:$125</option>
                        <option>100 rose bouquet:$225</option>
                        <option>150 rose bouquet:$275</option>
                    </select>
                </div>
                <div class="input-box">
                    <label for="details">Add Ons</label>
                    <select name="addOn_selection" id="addOn_selection">
                        <option value="">5 pink/red hearts:$1</option>
                        <option value="">Diamonds</option>
                        <option value="">1 big butterflies:$1</option>
                        <option value="">1 small butterflies:50¢</option>
                        <option value="">Glitter coverings on bouquet:$5</option>
                        <option value="">Happy birthday stick:$5</option>
                    </select>
                </div>
                <div class="input-box">
                    <label for="details">Pickup Date</label>
                    <input type="datetime-local" id="pickup">
                </div>
                <button class="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
</body>
</html>

